*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#image-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}
.image-container {
    background-color: cornflowerblue;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 1fr 80px 30px;
    grid-gap: 1rem;
}
.image{
    width: 100%;
}