#upload{
    background-color: cornflowerblue;
    border: 1px solid black;
    position: sticky;
    top: 0;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: masonry;
    grid-gap: 1rem;
}
.image-container {
      padding: 0;
}

.image-container li {
    margin: 0;
}
.image{
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    max-width: 100%;
}
#image-grid{
    width: 90vw;
    width: clamp(16rem, 90vw, 80rem);
    margin-left: auto;
    margin-right: auto;
}
